.App {
  text-align: center;
  width: fit-content;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Middle-section {
  flex: 1;
  display: flex;
  background-color: lightblue;
}

.Bottom-section {
  flex: 1;
  display: flex;
  background-color: green;
}

.footer {
  flex: 1;
  display: flex;
  background-color: grey;
}